/* Variabler */
:root {
  --background-color: #0f3a5a;
  --black-color: #071a2a;
  --icon-color: #7bb1f1;
  --map-color: #d2e1ff;
  --accent-color: #ff005c;
  --white-color: #ffffff;
}

/* Reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font family */
body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Brug denne farve til mørk baggrund */
.dark {
  background-color: var(--background-color);
  color: var(--white-color);
}

/* Brug denne farve til lys baggrund */
.light {
  background-color: var(--map-color);
  color: var(--black-color);
}

.btn {
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  font-size: 2rem;
  padding: calc(1rem * 1) calc(1rem * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1rem / 2);
}

/*-------------------
--------video--------
-------------------*/

#video-player {
  width: 100dvw;
}

.video_timeline {
  display: flex;
  gap: 16px;
}

.video_timeline_wrapper {
  flex:1;
}

.video_play_btn {
  outline: none;
  border: none;
  background-color: var(--white-color);
  color: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.video_years {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.video_skips {
  flex: 1;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
  height: 5px;
  border-radius: 2px;
  background-color: var(--white-color);
}

.video_btn {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: 5px solid var(--white-color);
  border: none;
  margin: 1px;
  color: var(--white-color);
  background-color: transparent;
  cursor: pointer;
}

.video_btn.active::before {
  position: absolute;
  border-radius: 50%;
  margin: 5px;
  inset: 0;
  content: attr(data-value);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--background-color);
}

/*-------------------
-------forside-------
-------------------*/

#armbånd {
  position: absolute;
  top: 50%;
  left: -25vw;
  transform: translate(0%, -50%);
  width: 100vw;
}
