/* Variabler */
:root {
  --background-color: #0f3a5a;
  --black-color: #071a2a;
  --icon-color: #7bb1f1;
  --map-color: #d2e1ff;
  --accent-color: #ff005c;
  --white-color: #ffffff;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

h3 {
  padding-top: 10px;
}

/* Reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font family */
body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

/* Brug denne farve til mørk baggrund */
.dark {
  background-color: var(--background-color);
  color: var(--white-color);
}

/* Brug denne farve til lys baggrund */
.light {
  background-color: var(--map-color);
  color: var(--black-color);
}

.btn {
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  font-size: 2rem;
  font-family: "JetBrains Mono", monospace;
  padding: calc(1rem * 1) calc(1rem * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1rem / 2);
  border-radius: 50px;
  margin: 20px;
}

/*-------------------
--------video--------
-------------------*/

.video_container {
  position: relative;
}

#video-player {
  width: 100%;
  height: 100%;
}

.video_timeline {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  display: flex;
  gap: 16px;
}

.video_timeline_wrapper {
  flex:1;
}

.video_play_btn {
  outline: none;
  border: none;
  background-color: var(--white-color);
  color: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.video_years {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.video_skips {
  flex: 1;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
  height: 5px;
  border-radius: 2px;
  background-color: var(--white-color);
}

.video_btn {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: 5px solid var(--white-color);
  border: none;
  margin: 1px;
  color: var(--white-color);
  background-color: transparent;
  cursor: pointer;
}

.video_btn.active::before {
  position: absolute;
  border-radius: 50%;
  margin: 5px;
  inset: 0;
  content: attr(data-value);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--background-color);
}

/*-------------------
-------forside-------
-------------------*/
/* Denne styling bliver også brugt til den afsluttende side*/


#armbånd {
  position: absolute;
  top: 50%;
  left: -25vw;
  transform: translate(0%, -50%);
  width: 80vw;

  transition: 2s all ease;

  animation-name: slideIn;
  animation-duration: 2s;
  animation-fill-mode:forwards; 
}






.blinker{

  transition: 2s all ease;

  animation-name: blinker;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode:forwards; 
  
  cursor: pointer;

}



#index_infoText{
  position: absolute;

  display: flex;
  align-items: center;

  right: 2vw;
  top: 34vh;

  opacity: 0;

  transition: 2s all ease;

  animation-name: blink;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode:forwards;  
  
}

#index_infoText img{
width: 32px;
}

#index_infoText p{
  font-size: 1rem;
}

@keyframes slideIn {
  from {  
    top: 50%;
    left: -250vw;
    transform: translate(0%, -50%);
  }

  to {
    top: 50%;
    left: -2vw;
    transform: translate(0%, -50%);
  }
}

@keyframes blink {
  0% {  
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blinker {
  0% {  
    fill: #D9D9D9;
  }

  50% {
    fill: #ffffff;
  }

  100% {
    fill: #D9D9D9;
  }
}


/*-------------------
-------type-------
-------------------*/
.type_container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 200px;
  margin-right: 200px;
  }
  
  .type_ikoner {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .type_flex {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .type_reagens_wrapper{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .type_reagens {
    height: 50vh;

  }
  
  .type_knap {
    float: right;
  }
  
  .type_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .type_klik{
    border-radius: 100px;
    border: none;
    box-shadow: none;
    transition: 2s all ease;
  
    animation-name: slideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  
    aspect-ratio: 3 / 2;
  
    
  }

/*-------------------
-----Opsummering-----
-------------------*/
#kort{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -111;
  width: 100%;
  height: 100%;

  filter: blur(2px);
  opacity: 0.5;
  
}

.opsummering_wrapper{
  display: flex;
  justify-content: space-around;
}

.petri_wrapper{
  position: relative;
}

#petri_skål{
  width: 20vw;
}

#petri_virus{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 5vw;
}

.opsummering_text{
  font-size: 0.8rem;
  width: 40vw;
}



#clipboard{
  position: relative;
  background-color: #ffffff;
  width: 25vw;
  height: fit-content;
  padding: 4vw 0vw 15vw 0vw;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border: solid 5px burlywood;
}

#clip{
  position: absolute;
  width: 10vw;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clipboard div{
border-bottom: solid 1px black;


display: flex;
align-items: flex-end;
gap: 16px;

padding: 0vw 4vw 0vw 1vw;
width: 100%;
}

.opsummering_bullet{
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 20px 20px;
}

.bullets{
  display: flex;
  align-items: center;
  gap: 20px;

}

.bullets img{
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  overflow: visible;
}

/*-------------------
--------footer-------
-------------------*/

.absolute_footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}

/*-------------------
-----Symptomer-----
-------------------*/

.symp_container {
  display: flex;
  column-gap: 120px;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 480px;
  margin-right: 480px;
}

.symp_item {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.symp_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}