/* Variabler */
:root {
  --background-color: #0f3a5a;
  --black-color: #071a2a;
  --icon-color: #7bb1f1;
  --map-color: #d2e1ff;
  --accent-color: #ff005c;
  --white-color: #ffffff;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 60px;
}

/* Reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font family */
body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Brug denne farve til mørk baggrund */
.dark {
  background-color: var(--background-color);
  color: var(--white-color);
}

/* Brug denne farve til lys baggrund */
.light {
  background-color: var(--map-color);
  color: var(--black-color);
}

.btn {
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  font-size: 2rem;
  font-family: "JetBrains Mono", monospace;
  padding: calc(1rem * 1) calc(1rem * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1rem / 2);
  border-radius: 50px;
  margin: 20px;
}


/*-------------------
-------forside-------
-------------------*/

#armbånd{
  position: absolute;
  top: 50%;
  left: -25vw;
  transform: translate(0%, -50%);
  width: 100vw;

}


/*-------------------
-------type-------
-------------------*/
.type_container {
display: flex;
justify-content: space-evenly;
}

.type_ikoner {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.type_flex {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.type_reagens {
  position: absolute;
  right: 0;
  padding-right: 60px;
  height: 500px;
  top: 25%;
}

.type_knap {
  float: right;
}

.type_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.type_wrapper button{
  border-radius: 100px;
  border: none;
  box-shadow: 0px 0px 50px #7bb1f1;
}
